<div class="fixed bg-white" style="width:100%">
  <div class="container">
    <div class="clearfix">
      <div class="col col-12 px2">
        <div class="flex flex-center">
          <div class="flex flex-auto">
            <%= link_to root_path do
              image_tag("riomaisb.png", class: "left py1", width: 80)
            end %>
          </div>
          <div class="right topbar">
            <div class="md-show">
              <div class="flex flex-center">
                <a class="black caps h5 p2 regular decoration-none" href="#what">O que é o Rio+B?</a>
                <a class="black caps h5 p2 regular decoration-none" href="#benefits">Por que participar?</a>
                <a class="black caps h5 p2 regular decoration-none" href="#how-it-works">O que acontece?</a>
                <a class="black caps h5 p2 regular decoration-none" href="#join">Como participar?</a>
                <a class="black h1 ml1 mr1" href="https://twitter.com/RiomaisB">
                  <i class="fa fa-twitter-square circle" aria-hidden="true"></i>
                </a>
                <a class="black h1" href="https://www.facebook.com/RiomaisB/?fref=ts">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <div class="md-hide">
              <div class="relative inline-block dropdown" data-disclosure>
                <button class="btn rounded fa fa-bars"></button>
                <div data-details class="fixed top-0 right-0 bottom-0 left-0 dropdown-overlay"></div>
                <div data-details class="absolute right-0 mt2 nowrap bg-white rounded dropdown-menu">
                  <a class="black caps h5 p2 block regular" href="#what">O que é o Rio+B?</a>
                  <a class="black caps h5 p2 block regular" href="#benefits">Por que participar?</a>
                  <a class="black caps h5 p2 block regular" href="#how-it-works">O que acontece?</a>
                  <a class="black caps h5 p2 block regular" href="#join">Como participar?</a>
                  <a class="black h1 m2" href="https://twitter.com/RiomaisB">
                    <i class="fa fa-twitter-square circle" aria-hidden="true"></i>
                  </a>
                  <a class="black h1" href="https://www.facebook.com/RiomaisB/?fref=ts">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="bg-green py4 bg-cover bg-center"
  style="background-image: url(<%= image_url("bg#{(rand() * 4).ceil}.jpg") %>)">
  <div class="container center white mt4">
    <div class="clearfix">
      <div class="col col-12 px2">
        <h2 class="mt0 mb2 caps">
          Você conhece o impacto socioambiental<br />
          da sua empresa na cidade e para as pessoas?
        </h2>
        <h3 class="mb3 regular">
          Junte-se a nós e construa melhores<br />
          negócios para um rio de janeiro melhor!
        </h3>
        <p>
          Preencha a Avaliação de Impacto Rio + B<br />
          e descubra novas oportunidades de negócios
        </p>
        <div class="mt3">
          <a class="btn btn-primary bg-green white caps h3 m0 p2 px4" href="#">Participar</a><br />
          Todo o processo é gratuito, online e sigiloso
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py4" id="what">
  <div class="clearfix">
    <div class="col col-12 sm-col-12 md-col-6 px2">
      <h2 class="green caps mt0 mb2 border-bottom border-green">O que é o Rio+B?</h2>
      <p>
        O Rio+B é um projeto que incentiva empresas e redes de negócios a avaliarem e tomarem consciência de seu impacto socioambiental visando engajar a iniciativa privada na agenda de sustentabilidade da cidade do Rio de Janeiro. Realizado pelo <a href="http://sistemab.org/">Sistema B</a>, o projeto faz uso de ferramentas mundialmente reconhecidas, gratuitas e online, para avaliação de impacto socioambiental nas empresas.
      </p>
      <p>
        Em parceria com o <a href="http://resiliente.rio/">Rio Resiliente</a>, da Prefeitura do Rio e a <a href="http://www.ellenmacarthurfoundation.org/">Fundação Ellen MacArthur</a> (Think Tank líder global no conceito de economia circular), entre outras entidades focadas em desenvolvimento econômico, irá convidar as empresas da região metropolitana do Rio de Janeiro a avaliarem seu impacto socioambiental e implementarem uma agenda de melhoria para a cidade através dos negócios.
      </p>
      <div class="hide">
        <p>
          O Sistema B é a ONG que lidera o movimento global de empresas B na América Latina, com o objetivo de redefinir o conceito de sucesso nos negócios, para que esse seja medido não só pelo lucro, mas também pelo impacto socioambiental positivo gerado por elas.
        </p>
        <p>
          Na Avaliação de Impato Rio+B, as empresas responderão a um breve questionário de 40 perguntas, em 5 áreas: Governança, Trabalhadores, Comunidade, Meio Ambiente e Modelo de Negócio. Pela primeira vez, numa parceria inédita entre Sistema B e Ellen MacArthur Foundation, o questionário será acrescido dos Indicadores de Circularidade. Todos os dados são sigilosos e só serão publicados desidentificados.
        </p>
        <p>
          O projeto prevê ainda a realização do Laboratório Rio+B, nele, durante 6 meses, um grupo de empresas referência em seus segmentos de atuação serão acompanhadas no desenvolvimento de um plano de ação capaz de intensificar seus impactos positivos dentro da região metropolitana do Rio de Janeiro.
        </p>
      </div>
    </div>
    <div class="col col-12 sm-col-12 md-col-6 px2 center">
      <%= image_tag("riomaisb-info.png", class: "circle") %>
    </div>
  </div>
</div>

<div class="bg-green py4 white" id="benefits">
  <div class="container">
    <div class="clearfix">
      <div class="col col-12 px2">
        <h2 class="caps mt0 mb3 border-bottom center green border-green">Por que participar?</h2>
        <p>
          Rio+B é gratuito, online, sigiloso e de rápido preenchimento. São apenas 30 minutos do seu tempo e um impacto positivo enorme para sua empresa e para a cidade.
        </p>
        <p>
          O preenchimento da Avaliação é uma oportunidade para conhecer o impacto socioambiental do seu negócio. Conhecer melhor suas práticas socioambientais pode ajudar a sua empresa a ser mais eficiente e a  e otimizar recursos. Ter melhores práticas é um dos modos mais eficientes de reter talentos e de atrair investimentos.
        </p>
        <p>
          Participar do Rio+B é um modo de descobrir novas formas de geração de valor e inovação nos negócios, destacando-se frente ao mercado tradicional pela mensuração e gestão do impacto socioambiental de sua empresa;
        </p>
        <div class="hide">
          <p>
            O Rio+B, em sua Avaliação de Impacto, faz uso de tecnologia mundialmente reconhecida para mensuração de Impacto socioambiental. A mesma Avaliação de Impacto já foi utilizada por mais de 40 mil empresas em todo o mundo e vem sendo aprimorada nos últimos 10 anos. Esta tecnologia irá permitir que as empresas respondentes recebam um comparativo de seu desempenho em cada um dos pontos abordados (benchmarking) em relação às outras  empresas que já responderam ao questionário e às empresas da região metropolitana do Rio de Janeiro engajadas no Rio+B.
          </p>
          <p>
            O Rio+B nasce como um movimento, o engajamento por parte das empresas é, portanto, diferenciado. Fazer parte de um movimento de vanguarda significa liderar o processo de transição para melhores negócios, significa ser agente de transformação, comunicação e relacionamento em uma rede que troca experiências e faz negócios de forma pré competitiva visando a lucratividade de todos os envolvidos e uma agenda de melhoria de Impacto Positivo para a cidade do Rio de Janeiro.
          </p>
          <p>
            O Rio+B, tendo como parceiro a Prefeitura do Rio de Janeiro, através do Rio Resiliente, pretende melhorar a relação da Cidade com as empresas locais, mapear indicadores de impacto socioambiental das empresas para fins de compras e políticas públicas, além de dar maior visibilidade ao setor empresarial carioca como promotor de uma transformação para uma economia mais resiliente;
          </p>
          <p>
            Ser resiliente significa ter maiores condições para sobreviver a grandes alterações em seus sistema, significa fazer ajustes em modelos de negócios e em ciclos de produto, significa economizar recursos e fazer bom uso de resíduos, significa construir juntos um Rio de Janeiro melhor.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container py4" id="how-it-works">
  <div class="clearfix">
    <div class="col sm-col-12 md-col-8 px2">
      <h2 class="purple border-bottom border-purple caps mt0 mb2">O que acontece?</h2>
      <p>
        A Avaliação de Impacto Rio+B é sigilosa, gratuita, online e de rápido preenchimento: são 30 minutos do seu tempo. Ela é resultado da soma da ferramenta Quick Impact Assessment (Sistema B) e de alguns Indicadores de Circularidade (Ellen Macarthur Foundation);
      </p>
      <p>
        Para participar, a empresa deve se cadastrar e preencher a Avaliação de Impacto Rio+B, compartilhando informações verdadeiras sobre suas práticas socioambientais. Veja abaixo as formas de participação.
      </p>
      <p>
        Inicialmente, todas as empresas respondentes farão parte da Rede Rio+B. Os dados das empresas são sigilosos e só serão divulgados enquanto estatísticas do Rio+B, nunca citando a empresa, a menos que com autorização da mesma para divulgação.
      </p>
      <p>
        No final do preenchimento da Avaliação de Impacto Rio+B, o respondente será perguntando se tem interesse em continuar este percurso fazendo parte do Laboratório Rio+B. Caso a empresa demonstre interesse, ela pode ser convidada a fazer parte se comprometendo a traçar um plano de trabalho, participar dos encontros presenciais ao longo de 6 meses e se empenhar em realizar alguma melhoria de impacto socioambiental. No fim do percurso a empresa preenche novamente a Avaliação de Impacto Rio+B para medir a melhoria durante a participação do Laboratório Rio+B. Os dados das empresas  são sigilosos e só serão divulgados enquanto estatísticas do  Lab Rio+B, nunca citando a sua empresa.
      </p>
      <p>
        O projeto Rio+B tem inicio em setembro de 2015, com o preenchimento da Avaliação de Impacto Rio+B. O Lab Rio+B dura de Novembro de 2016 a Maio de 2017.
      </p>
    </div>
    <div class="col sm-col-12 md-col-4 px2">
      <%= image_tag("oqueacontece.png", class: "circle") %>
    </div>
  </div>
</div>

<div class="bg-green py4 white" id="join">
  <div class="container">
    <div class="col-12 px2 mx-auto">
      <h2 class="caps mt0 mb2">Como participar?</h2>
      <p>
        Podem participar do Rio+B todas as empresas com sede e/ou operação na região metropolitana e na cidade do Rio de Janeiro. Não há restrição de porte, número de funcionários, faturamento ou setor em que atuam.
      </p>
      <p>
        Como as empresas podem participar - diversos níveis de engajamento:
      </p>
      <ul>
        <li>
          Participante Rio+B: responde a Avaliação de Impacto Rio+B e toma consciência do impacto socioambiental da sua empresa;
        </li>
        <li>
          Participante influenciador: convida seus fornecedores a também fazê-lo;
        </li>
        <li>
          Participante Laboratório Rio+B (todos acima e...): aceita o compromisso de implementar melhorias num período de seis meses;
        </li>
      </ul>
      <p>
        Como as organizações multilaterais, institutos e fundações empresariais podem participar:
      </p>
      <ul>
        <li>
          Tornando-se um parceiro estratégico: Investindo recursos financeiro no projeto, por acreditar no seu potencial de Impacto para a cidade do Rio de Janeiro;
        </li>
      </ul>
      <a class="btn btn-outline white caps h3 m0 p2 px4" href="#">Participar</a>
    </div>
  </div>
</div>

<div class="container py4">
  <div class="clearfix">
    <div class="sm-col-12 md-col-8 px2 mx-auto center">
      <h2 class="green caps mt0 mb3">Atualizações e novidades</h2>
      <a class="twitter-timeline" href="https://twitter.com/nicolasiensen" data-widget-id="636355297804742656">Tweets by @nicolasiensen</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
</div>

<footer class="bg-black py4">
</footer>
