<div class="container">
  <div class="bg-white py1 flex flex-center">
    <div class="flex flex-auto">
      <div>Rio + B</div>
    </div>
    <div class="right">
      <a class="btn caps h5 p1" href="#">O que é o Rio+B?</a>
      <a class="btn caps h5 p1" href="#">O que a empresa e a cidade ganham?</a>
      <a class="btn caps h5 p1" href="#">Como funciona o programa?</a>
      <a class="btn btn-primary bg-lime green caps h5" href="#">Participar</a>
    </div>
  </div>
</div>

<div class="bg-green py1">
  <div class="container center white py4">
    <h1 class="mt0 mb2 caps">
      Is your business among the Best in NYC?<br />
      Join us in becoming the Best for NYC!
    </h1>
    <div>Take the Best for NYC Challenge</div>
    <div>Improve your business’s impact</div>
    <div>Be recognized as “Competing to be Best for NYC”</div>
    <div class="mt3">
      <a class="btn btn-primary bg-lime green caps h3 m0 p2 px4" href="#">Participar</a>
    </div>
  </div>
</div>
