$green: #009694;
$lime: #B4DF00;
$black: #37434E;
$purple: #731344;
$border-width: 3px;
$font-family: 'Helvetica Neue', Helvetica, sans-serif;
$button-font-family: 'Novecento', 'Helvetica Neue', Helvetica, sans-serif;

@import "basscss-sass";

body { font-weight: 200 }
.bg-green { background-color: #00545b; }
.caps { letter-spacing: 0; }
h1, .h1 { font-family: $button-font-family }
h2, .h2 { font-family: $button-font-family }
h3, .h3 { font-family: $button-font-family }
h4, .h4 { font-family: $button-font-family }
h5, .h5 { font-family: $button-font-family }
h6, .h6 { font-family: $button-font-family }
