// Colors from: http://paletton.com/#uid=73i0u0kw0vnjLCCp6xKyqoxDHjf
$green: #009694;
$dark-green: #00545b;
$lime: #fff47a;
$black: #37434E;
$purple: #731344;
$yellow: #FAA700;
$cyan: #00FFFF;
$border-width: 3px;
$font-family: 'Helvetica Neue', Helvetica, sans-serif;
$button-font-family: 'Novecento', 'Helvetica Neue', Helvetica, sans-serif;

@import "basscss-sass";

body {
  font-weight: 200;
  font-size: 1.1rem;
}

.bg-dark-green { background-color: $dark-green }
.dark-green { color: $dark-green }
.border-dark-green { border-color: $dark-green }
.bg-cyan { background-color: $cyan}
.caps { letter-spacing: 0; }
h1, .h1 { font-family: $button-font-family }
h2, .h2 { font-family: $button-font-family }
h3, .h3 { font-family: $button-font-family }
h4, .h4 { font-family: $button-font-family }
h5, .h5 { font-family: $button-font-family }
h6, .h6 { font-family: $button-font-family }
a { color: $green }
