@font-face {
  font-family: 'Novecento';
  src: font-url('novecentowide-normal-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Novecento';
  src: font-url('novecentowide-demibold-webfont.woff');
  font-weight: bold;
  font-style: normal;
}
